@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaItalic";
    src: url("../fonts/HelveticaItalic.eot");
    src: url("../fonts/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaItalic.woff") format("woff"),
    url("../fonts/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.otf");
}